<html>
<head>
  <title>Sample Text</title>
</head>

<body>
<div>


  <svg    viewBox="0 0 1248 1080"
          height="50%"
          width="50%"
          version="1.1">




    <image
      class="img_stationary"
      id="regular_img"
      width="178"
      [attr.href] = "graph1"
    />
    <image
      class="img"
      id="regular_img2"
      width="133"
      x="178"
      [attr.href] = "graph2"
    />
    <image
      class="img"
      id="regular_img3"
      width="133"
      x="311"
      [attr.href] = "graph3"
    />
    <image
      class="img"
      id="regular_img4"
      width="133"
      x="444"
      [attr.href] = "graph4"
    />
    <image
      class="img"
      id="regular_img5"
      width="133"
      x="577"
      [attr.href] = "graph5"
    />
    <image
      class="img"
      id="regular_img6"
      width="178"
      x="710"
      [attr.href] = "graph6"
    />
    <image
      class="img_stationary"
      id="regular_img7"
      width="356"
      x="888"
      [attr.href] = "graph7"
    />


<!--    <image-->
<!--      class="hover_img"-->
<!--      id="hover_img"-->
<!--      width="276"-->
<!--      [attr.href] = "graph1Hover"-->
<!--    />-->
    <image
      class="hover_img"
      id="hover_img2"
      width="133"
      x="178"
      [attr.href] = "graph2Hover"
    />
    <image
      class="hover_img"
      id="hover_img3"
      width="133"
      x="311"
      [attr.href] = "graph3Hover"
    />
    <image
      class="hover_img"
      id="hover_img4"
      width="133"
      x="444"
      [attr.href] = "graph4Hover"
    />
    <image
      class="hover_img"
      id="hover_img5"
      width="133"
      x="577"
      [attr.href] = "graph5Hover"
    />
    <image
      class="hover_img"
      id="hover_img6"
      width="178"
      x="710"
      [attr.href] = "graph6Hover"
    />

    <rect
      class="hover_img_full"
      id="img_see_all"
      width = "188"
      height = "127"
      x = "901"
      y = "690"
    />

    <image
      class="hover_img_full"
      id="hover_img_full"
      [attr.href] = "graphHoverFull"
    />

  </svg>

</div>


</body>
</html>
