/*#regular_img:hover {*/
/*  opacity: 0.0;*/
/*}*/
/*#regular_img2:hover {*/
/*  opacity: 0.0;*/
/*}*/
.img:hover {
  opacity: 0.0;
}
.hover_img {
  opacity: 0.0;
}
.hover_img:hover {
  opacity: 1.0;
}
/*#hover_img {*/
/*  opacity: 0.0;*/
/*}*/
/*#hover_img:hover {*/
/*  opacity: 1.0;*/
/*}*/
/*#hover_img2 {*/
/*  opacity: 0.0;*/
/*}*/
/*#hover_img2:hover {*/
/*  opacity: 1.0;*/
/*}*/
