<html>
<head>
  <title>Sample Text</title>
</head>

<body>
<div>


  <svg    viewBox="0 0 1248 1028"
          height="50%"
          width="50%"
          version="1.1">




    <image
      class="img"
      id="regular_img"
      width="276"
      [attr.href] = "graph1"
    />
    <image
      class="img"
      id="regular_img2"
      width="138"
      x="276"
      [attr.href] = "graph2"
    />
    <image
      class="img"
      id="regular_img3"
      width="138"
      x="414"
      [attr.href] = "graph3"
    />
    <image
      class="img"
      id="regular_img4"
      width="138"
      x="552"
      [attr.href] = "graph4"
    />
    <image
      class="img"
      id="regular_img5"
      width="138"
      x="690"
      [attr.href] = "graph5"
    />
    <image
      class="img_stationary"
      id="regular_img6"
      width="414"
      x="828"
      [attr.href] = "graph6"
    />


    <image
      class="hover_img"
      id="hover_img"
      width="276"
      [attr.href] = "graph1Hover"
    />
    <image
      class="hover_img"
      id="hover_img2"
      width="138"
      x="276"
      [attr.href] = "graph2Hover"
    />
    <image
      class="hover_img"
      id="hover_img3"
      width="138"
      x="414"
      [attr.href] = "graph3Hover"
    />
    <image
      class="hover_img"
      id="hover_img4"
      width="138"
      x="552"
      [attr.href] = "graph4Hover"
    />
    <image
      class="hover_img"
      id="hover_img5"
      width="138"
      x="690"
      [attr.href] = "graph5Hover"
    />
<!--    <image-->
<!--      class="hover_img"-->
<!--      id="hover_img6"-->
<!--      width="414"-->
<!--      x="828"-->
<!--      [attr.href] = "graph6Hover"-->
<!--    />-->

    <rect
      class="hover_img_full"
      id="img_see_all"
      width = "188"
      height = "127"
      x = "901"
      y = "690"
    />

    <image
      class="hover_img_full"
      id="hover_img_full"
      [attr.href] = "graphHoverFull"
    />

  </svg>

</div>


</body>
</html>
